<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>

<body>
    <div id="app">

        <el-table :data="tableData" border :show-header="false" :span-method="objectSpanMethod"
            style="width: 100%; margin-top: 20px">
            <el-table-column label="表头1" align="center" width="50px">
                <template slot-scope="scope">
                    <span class="componyname headWeight" v-if="scope.$index===0">税收优惠基本信息</span>
                    <span class="componyname" v-if="scope.$index>0 && scope.$index<=3">{{scope.$index}}</span>
                    <span class="componyname headWeight" v-if="scope.$index===4">税收优惠有关信息</span>
                    <span class="componyname" v-if="scope.$index>4 && scope.$index<=15">{{scope.$index-1}}</span>
                    <!-- <span class="componyname" v-if="scope.$index===16">14</span> -->
                    <span class="componyname" v-if="scope.$index>16 && scope.$index<=34">{{scope.$index}}</span>
                </template>
            </el-table-column>
            <el-table-column label="表头2" align="center" width="150px">
                <template slot-scope="scope">
                    <!-- <span class="componyname" v-if="scope.$index===0">税收优惠基本信息</span> -->
                    <span class="componyname" v-if="scope.$index===1">高新证书编号</span>
                    <span class="componyname" v-if="scope.$index===2">
                        高新证书编号内容
                    </span>
                    <!-- <span class="componyname" v-if="scope.$index===3">高新证书编号</span> -->
                    <!--<span class="componyname" v-if="scope.$index===4">税收优惠有关信息</span> -->
                    <span class="componyname" v-if="scope.$index===5">收入指标</span>
                    <!-- <span class="componyname" v-if="scope.$index>6 && scope.$index<=11">收入指标</span> -->
                    <span class="componyname" v-if="scope.$index===12">人员指标</span>
                    <!-- <span class="componyname" v-if="scope.$index===13||scope.$index===14">人员指标</span> -->
                    <span class="componyname" v-if="scope.$index===15">研发费用指标</span>
                    <!-- <span class="componyname" v-if="scope.$index>15 && scope.$index<=32">研发费用指标</span> -->
                    <span class="componyname" v-if="scope.$index===33">减免税额</span>
                    <!-- <span class="componyname" v-if="scope.$index===34">减免税额</span> -->
                </template>
            </el-table-column>
            <el-table-column label="表头3" align="left" width="360px">
                <template slot-scope="scope">
                    <!-- <span class="componyname" v-if="scope.$index===0">税收优惠基本信息</span> -->
                    <span class="componyname " v-if="scope.$index===1">国家重点支持的高新及技术领域</span>
                    <!-- <span class="componyname" v-if="scope.$index===2||scope.$index===3">国家重点支持的高新及技术领域</span> -->
                    <!-- <span class="componyname" v-if="scope.$index==4">税收优惠有关信息</span> -->
                    <span class="componyname" v-if="scope.$index===5">一、本年高新技术产品（服务）收入（5+6）</span>
                    <span class="componyname paddingFirst" v-if="scope.$index===6">其中：产品（服务）收入</span>
                    <span class="componyname paddingThird" v-if="scope.$index===7">技术性收入</span>
                    <span class="componyname" v-if="scope.$index===8">二、本年企业总收入（8-9）</span>
                    <span class="componyname paddingFirst" v-if="scope.$index===9">其中：收入总额</span>
                    <span class="componyname paddingThird" v-if="scope.$index===10">不征收税收入</span>
                    <span class="componyname" v-if="scope.$index===11">三、本年高新技术产品（服务）收入占企业总收入的比例（4÷7）</span>
                    <span class="componyname" v-if="scope.$index===12">四、本年科技人员数</span>
                    <span class="componyname" v-if="scope.$index===13">五、本年职工总数</span>
                    <span class="componyname" v-if="scope.$index===14">六、本年科技人员占企业当年职工总数的比例</span>
                    <span class="componyname headCenter" v-if="scope.$index===15">高新研发费用归集年度</span>
                    <!-- <span class="componyname headCenter" v-if="scope.$index===16">高新研发费用归集年度</span> -->
                    <span class="componyname" v-if="scope.$index===17">七、归集的高新研发费用金额（16+25）</span>
                    <span class="componyname paddingFirst" v-if="scope.$index===18">（一）内部研究开发投入（17+...+22+24）</span>
                    <span class="componyname paddingSecond" v-if="scope.$index===19">1.人员人工费用</span>
                    <span class="componyname paddingSecond" v-if="scope.$index===20">2.直接投入费用</span>
                    <span class="componyname paddingSecond" v-if="scope.$index===21">3.折旧费用与长期待摊费用</span>
                    <span class="componyname paddingSecond" v-if="scope.$index===22">4.无形资产摊销费用</span>
                    <span class="componyname paddingSecond" v-if="scope.$index===23">5.设计费用</span>
                    <span class="componyname paddingSecond" v-if="scope.$index===24">6.装备调试费与试验费用</span>
                    <span class="componyname paddingSecond" v-if="scope.$index===25">7.其他费用</span>
                    <span class="componyname paddingSecond" v-if="scope.$index===26">其中可计入研发费用的其他费用</span>
                    <span class="componyname paddingFirst" v-if="scope.$index===27">（二）委托外部研发费用[(26+28)×80%]</span>
                    <span class="componyname paddingSecond" v-if="scope.$index===28">1.境内的外部研发费用</span>
                    <span class="componyname paddingSecond" v-if="scope.$index===29">2.境外的外部研发费用</span>
                    <span class="componyname paddingSecond" v-if="scope.$index===30">其中：可计入研发费用的境外的外部研发费</span>
                    <span class="componyname" v-if="scope.$index===31">八、销售（营业）收入</span>
                    <span class="componyname" v-if="scope.$index===32">九、三年研发费用占销售（营业）收入的比例（15行4列÷29行4列）</span>
                    <span class="componyname" v-if="scope.$index===33">十、国家需要重点扶持的高新技术企业所得税</span>
                    <span class="componyname" v-if="scope.$index===34">十一、经济特区和上海浦东新区所设立的高新技术企业定期减免税</span>
                </template>
            </el-table-column>
            <el-table-column label="表头4" align="left" width="160px">
                <template slot-scope="scope">
                    <!-- <span class="componyname" v-if="scope.$index===0">税收优惠基本信息</span> -->
                    <span class="componyname" v-if="scope.$index===1">一级领域

                    </span>
                    <span class="componyname" v-if="scope.$index===2">二级领域</span>
                    <span class="componyname" v-if="scope.$index===3">三级领域</span>
                    <!-- <span class="componyname" v-if="scope.$index===4">税收优惠有关信息</span> -->
                    <span class="componyname moneySpan" v-if="scope.$index===5">1</span>
                    <span class="componyname moneySpan" v-if="scope.$index===6">2</span>
                    <span class="componyname moneySpan" v-if="scope.$index===7">3</span>
                    <span class="componyname moneySpan" v-if="scope.$index===8">4</span>
                    <span class="componyname moneySpan" v-if="scope.$index===9">5</span>
                    <span class="componyname moneySpan" v-if="scope.$index===10">6</span>
                    <span class="componyname moneySpan" v-if="scope.$index===11">7</span>
                    <span class="componyname moneySpan" v-if="scope.$index===12">8</span>
                    <span class="componyname moneySpan" v-if="scope.$index===13">9</span>
                    <span class="componyname moneySpan" v-if="scope.$index===14">10</span>
                    <span class="componyname headCenter" v-if="scope.$index===15">本年度</span>
                    <span class="componyname headCenter" v-if="scope.$index===16">1</span>
                    <span class="componyname moneySpan" v-if="scope.$index===17">117,117,117,117.00 </span>
                    <span class="componyname moneySpan" v-if="scope.$index===18">118</span>
                    <span class="componyname moneySpan" v-if="scope.$index===19">119</span>
                    <span class="componyname moneySpan" v-if="scope.$index===20">120</span>
                    <span class="componyname moneySpan" v-if="scope.$index===21">121</span>
                    <span class="componyname moneySpan" v-if="scope.$index===22">122</span>
                    <span class="componyname moneySpan" v-if="scope.$index===23">123</span>
                    <span class="componyname moneySpan" v-if="scope.$index===24">124</span>
                    <span class="componyname moneySpan" v-if="scope.$index===25">125</span>
                    <span class="componyname moneySpan" v-if="scope.$index===26">126</span>
                    <span class="componyname moneySpan" v-if="scope.$index===27">127</span>
                    <span class="componyname moneySpan" v-if="scope.$index===28">128</span>
                    <span class="componyname moneySpan" v-if="scope.$index===29">129</span>
                    <span class="componyname moneySpan" v-if="scope.$index===30">130</span>
                    <span class="componyname moneySpan" v-if="scope.$index===31">131</span>
                    <span class="componyname moneySpan" v-if="scope.$index===32">132</span>
                    <span class="componyname moneySpan" v-if="scope.$index===33">133</span>
                    <span class="componyname moneySpan" v-if="scope.$index===34">134</span>
                </template>
            </el-table-column>
            <el-table-column label="表头5" align="left" width="160px">
                <template slot-scope="scope">
                    <!-- <span class="componyname" v-if="scope.$index===0">税收优惠基本信息</span> -->
                    <span class="componyname" v-if="scope.$index===1">
                        <el-input v-if="model.firstName.selected" v-model="model.firstName.value"
                            @focus="focusEvent(model.firstName)" @blur="blurEvent(model.firstName)" v-focus></el-input>
                        <span class="componyname" @click="cellClick(model.firstName)"
                            v-else>{{model.firstName.value}}</span>
                    </span>
                    <span class="componyname" v-if="scope.$index===2">
                        <el-input v-if="model.secondName.selected" v-model="model.secondName.value"
                            @focus="focusEvent(model.secondName)" @blur="blurEvent(model.secondName)" v-focus>
                        </el-input>
                        <span class="componyname" @click="cellClick(model.secondName)"
                            v-else>{{model.secondName.value}}</span>
                    </span>
                    <span class="componyname" v-if="scope.$index===3">三级领域内容</span>
                    <!-- <span class="componyname" v-if="scope.$index===4">税收优惠有关信息</span> -->
                    <!-- <span class="componyname moneySpan" v-if="scope.$index===5"></span> -->
                    <!-- <span class="componyname moneySpan" v-if="scope.$index===6"></span> -->
                    <!-- <span class="componyname moneySpan" v-if="scope.$index===7"></span> -->
                    <!-- <span class="componyname moneySpan" v-if="scope.$index===8"></span> -->
                    <!-- <span class="componyname moneySpan" v-if="scope.$index===9"></span> -->
                    <!-- <span class="componyname moneySpan" v-if="scope.$index===10"></span> -->
                    <!-- <span class="componyname moneySpan" v-if="scope.$index===11"></span> -->
                    <!-- <span class="componyname moneySpan" v-if="scope.$index===12"></span> -->
                    <!-- <span class="componyname moneySpan" v-if="scope.$index===13"></span> -->
                    <!-- <span class="componyname moneySpan" v-if="scope.$index===14"></span> -->
                    <span class="componyname headCenter" v-if="scope.$index===15">前一年度</span>
                    <span class="componyname headCenter" v-if="scope.$index===16">2</span>
                    <span class="componyname moneySpan" v-if="scope.$index===17">217</span>
                    <span class="componyname moneySpan" v-if="scope.$index===18">218</span>
                    <span class="componyname moneySpan" v-if="scope.$index===19">219</span>
                    <span class="componyname moneySpan" v-if="scope.$index===20">220</span>
                    <span class="componyname moneySpan" v-if="scope.$index===21">221</span>
                    <span class="componyname moneySpan" v-if="scope.$index===22">222</span>
                    <span class="componyname moneySpan" v-if="scope.$index===23">223</span>
                    <span class="componyname moneySpan" v-if="scope.$index===24">224</span>
                    <span class="componyname moneySpan" v-if="scope.$index===25">225</span>
                    <span class="componyname moneySpan" v-if="scope.$index===26">226</span>
                    <span class="componyname moneySpan" v-if="scope.$index===27">227</span>
                    <span class="componyname moneySpan" v-if="scope.$index===28">228</span>
                    <span class="componyname moneySpan" v-if="scope.$index===29">229</span>
                    <span class="componyname moneySpan" v-if="scope.$index===30">230</span>
                    <span class="componyname moneySpan" v-if="scope.$index===31">231</span>
                    <!-- <span class="componyname moneySpan" v-if="scope.$index===32">232</span> -->
                    <!-- <span class="componyname moneySpan" v-if="scope.$index===33">233</span> -->
                    <!-- <span class="componyname moneySpan" v-if="scope.$index===34">234</span> -->
                </template>
            </el-table-column>
            <el-table-column label="表头6" align="left" width="160px">
                <template slot-scope="scope">
                    <!-- <span class="componyname" v-if="scope.$index===0">税收优惠基本信息</span> -->
                    <!-- <span class="componyname" v-if="scope.$index===1"></span> -->
                    <!-- <span class="componyname" v-if="scope.$index===2"></span> -->
                    <!-- <span class="componyname" v-if="scope.$index===3"></span> -->
                    <!-- <span class="componyname" v-if="scope.$index===4">税收优惠有关信息</span> -->
                    <!-- <span class="componyname moneySpan" v-if="scope.$index===5"></span> -->
                    <!-- <span class="componyname moneySpan" v-if="scope.$index===6"></span> -->
                    <!-- <span class="componyname moneySpan" v-if="scope.$index===7"></span> -->
                    <!-- <span class="componyname moneySpan" v-if="scope.$index===8"></span> -->
                    <!-- <span class="componyname moneySpan" v-if="scope.$index===9"></span> -->
                    <!-- <span class="componyname moneySpan" v-if="scope.$index===10"></span> -->
                    <!-- <span class="componyname moneySpan" v-if="scope.$index===11"></span> -->
                    <!-- <span class="componyname moneySpan" v-if="scope.$index===12"></span> -->
                    <!-- <span class="componyname moneySpan" v-if="scope.$index===13"></span> -->
                    <!-- <span class="componyname moneySpan" v-if="scope.$index===14"></span> -->
                    <span class="componyname headCenter" v-if="scope.$index===15">前二年度</span>
                    <span class="componyname headCenter" v-if="scope.$index===16">3</span>
                    <span class="componyname moneySpan" v-if="scope.$index===17">317</span>
                    <span class="componyname moneySpan" v-if="scope.$index===18">318</span>
                    <span class="componyname moneySpan" v-if="scope.$index===19">319</span>
                    <span class="componyname moneySpan" v-if="scope.$index===20">320</span>
                    <span class="componyname moneySpan" v-if="scope.$index===21">321</span>
                    <span class="componyname moneySpan" v-if="scope.$index===22">322</span>
                    <span class="componyname moneySpan" v-if="scope.$index===23">323</span>
                    <span class="componyname moneySpan" v-if="scope.$index===24">324</span>
                    <span class="componyname moneySpan" v-if="scope.$index===25">325</span>
                    <span class="componyname moneySpan" v-if="scope.$index===26">326</span>
                    <span class="componyname moneySpan" v-if="scope.$index===27">327</span>
                    <span class="componyname moneySpan" v-if="scope.$index===28">328</span>
                    <span class="componyname moneySpan" v-if="scope.$index===29">329</span>
                    <span class="componyname moneySpan" v-if="scope.$index===30">330</span>
                    <span class="componyname moneySpan" v-if="scope.$index===31">331</span>
                    <!-- <span class="componyname moneySpan" v-if="scope.$index===32">332</span> -->
                    <!-- <span class="componyname moneySpan" v-if="scope.$index===33">333</span> -->
                    <!-- <span class="componyname moneySpan" v-if="scope.$index===34">334</span> -->
                </template>
            </el-table-column>
            <el-table-column label="表头7" align="left" width="160px">
                <template slot-scope="scope">
                    <!-- <span class="componyname" v-if="scope.$index===0">税收优惠基本信息</span> -->
                    <!-- <span class="componyname" v-if="scope.$index===1"></span> -->
                    <!-- <span class="componyname" v-if="scope.$index===2"></span> -->
                    <!-- <span class="componyname" v-if="scope.$index===3"></span> -->
                    <!-- <span class="componyname" v-if="scope.$index===4">税收优惠有关信息</span> -->
                    <!-- <span class="componyname moneySpan" v-if="scope.$index===5"></span> -->
                    <!-- <span class="componyname moneySpan" v-if="scope.$index===6"></span> -->
                    <!-- <span class="componyname moneySpan" v-if="scope.$index===7"></span> -->
                    <!-- <span class="componyname moneySpan" v-if="scope.$index===8"></span> -->
                    <!-- <span class="componyname moneySpan" v-if="scope.$index===9"></span> -->
                    <!-- <span class="componyname moneySpan" v-if="scope.$index===10"></span> -->
                    <!-- <span class="componyname moneySpan" v-if="scope.$index===11"></span> -->
                    <!-- <span class="componyname moneySpan" v-if="scope.$index===12"></span> -->
                    <!-- <span class="componyname moneySpan" v-if="scope.$index===13"></span> -->
                    <!-- <span class="componyname moneySpan" v-if="scope.$index===14"></span> -->
                    <span class="componyname headCenter" v-if="scope.$index===15">合计</span>
                    <span class="componyname headCenter" v-if="scope.$index===16">4</span>
                    <span class="componyname moneySpan" v-if="scope.$index===17">417</span>
                    <span class="componyname moneySpan" v-if="scope.$index===18">418</span>
                    <span class="componyname moneySpan" v-if="scope.$index===19">419</span>
                    <span class="componyname moneySpan" v-if="scope.$index===20">420</span>
                    <span class="componyname moneySpan" v-if="scope.$index===21">421</span>
                    <span class="componyname moneySpan" v-if="scope.$index===22">422</span>
                    <span class="componyname moneySpan" v-if="scope.$index===23">423</span>
                    <span class="componyname moneySpan" v-if="scope.$index===24">424</span>
                    <span class="componyname moneySpan" v-if="scope.$index===25">425</span>
                    <span class="componyname moneySpan" v-if="scope.$index===26">426</span>
                    <span class="componyname moneySpan" v-if="scope.$index===27">427</span>
                    <span class="componyname moneySpan" v-if="scope.$index===28">428</span>
                    <span class="componyname moneySpan" v-if="scope.$index===29">429</span>
                    <span class="componyname moneySpan" v-if="scope.$index===30">430</span>
                    <span class="componyname moneySpan" v-if="scope.$index===31">431</span>
                    <!-- <span class="componyname moneySpan" v-if="scope.$index===32">432</span> -->
                    <!-- <span class="componyname moneySpan" v-if="scope.$index===33">433</span> -->
                    <!-- <span class="componyname moneySpan" v-if="scope.$index===34">434</span> -->
                </template>
            </el-table-column>
        </el-table>
    </div>
</body>
<script>
    Vue.component('my-component', {})
    var tableData = [];
    for (let index = 0; index < 34; index++) {
        if (index === 0) {
            tableData.push({
                id: "税收优惠基本信息"
            });
        } else if (index < 4) {
            tableData.push({
                id: index
            });
        } else if (index === 4) {
            tableData.push({
                id: "税收优惠有关信息"
            });
        } else if (index > 4) {
            tableData.push({
                id: index - 1
            });
            if (index === 15) {
                tableData.push({
                    id: index - 1
                });
            }
        }
    }
    // Vue 根实例
    var app08 = new Vue({
        el: '#app',
        data: {
            tableData: tableData,
            model: {
                firstName: {
                    value: "一级",
                    selected: false
                },
                secondName: {
                    value: "二级",
                    selected: false
                },


            },
            oldName: "",
            nowName: ""
        },
        directives: {
            focus: {
                inserted: function (el) {
                    el.querySelector('input').focus()
                }
            }
        },
        methods: {
            indexMethod(index) {
                if (index === 0) {
                    return "税收优惠基本信息"
                }
                if (index < 4) {
                    return index
                }
                if (index === 4) {
                    return "税收优惠有关信息"
                }

                if (index > 4) {
                    return index - 1
                }

            },
            focusEvent(cell) {
                cell.oldValue = cell.value
                // cell.selected = true;
                // cell.selected = !cell.selected;
            },

            blurEvent(cell) {
                // cell.selected = false
                cell.selected = !cell.selected;
            },

            cellClick(cell) {
                // cell.selected = true;
                cell.selected = !cell.selected;
                if (cell.value !== cell.oldValue) {
                    // console.log('保存成功');
                }

            },

            objectSpanMethod({
                rowIndex,
                columnIndex
            }) {
                switch (columnIndex) {
                    case 0: {
                        if (rowIndex === 0 || rowIndex === 4) {
                            return {
                                rowspan: 1,
                                colspan: 7
                            }
                        } else if (rowIndex === 15) {
                            return {
                                rowspan: 2,
                                colspan: 1
                            }
                        } else if (rowIndex === 16) {
                            return {
                                rowspan: 0,
                                colspan: 0
                            }
                        }

                        return
                    }
                    break;
                case 1: {
                    if (rowIndex === 0 || rowIndex === 4) {
                        return {
                            rowspan: 0,
                            colspan: 0
                        }
                    } else if (rowIndex === 2) {
                        return {
                            rowspan: 2,
                            colspan: 1
                        }
                    } else if (rowIndex === 5) {
                        return {
                            rowspan: 7,
                            colspan: 1
                        }
                    } else if (rowIndex === 12) {
                        return {
                            rowspan: 3,
                            colspan: 1
                        }
                    } else if (rowIndex === 15) {
                        return {
                            rowspan: 18,
                            colspan: 1
                        }
                    } else if (rowIndex === 33) {
                        return {
                            rowspan: 2,
                            colspan: 1
                        }
                    } else if (rowIndex !== 1) {
                        return {
                            rowspan: 0,
                            colspan: 0
                        }
                    }
                    return
                }

                break;
                case 2: {
                    if (rowIndex === 0 || rowIndex === 4) {
                        return {
                            rowspan: 0,
                            colspan: 0
                        }
                    } else if (rowIndex === 1) {
                        return {
                            rowspan: 3,
                            colspan: 1
                        }
                    } else if (rowIndex === 15) {
                        return {
                            rowspan: 2,
                            colspan: 1
                        }
                    } else if (
                        (rowIndex > 4 && rowIndex <= 15) || (rowIndex > 31 && rowIndex <= 34)
                    ) {
                        return {
                            rowspan: 1,
                            colspan: 4
                        }

                    } else if (!(rowIndex > 16 && rowIndex <= 31)) {
                        return {
                            rowspan: 0,
                            colspan: 0
                        }
                    }
                    return
                }

                break;
                case 3: {

                    return
                }

                break;
                case 4: {
                    if (rowIndex === 0 || rowIndex === 4) {
                        return {
                            rowspan: 0,
                            colspan: 0
                        }
                    } else if (rowIndex === 1 || rowIndex === 2 || rowIndex === 3) {
                        return {
                            rowspan: 1,
                            colspan: 3
                        }
                    } else if (!(rowIndex > 16 && rowIndex <= 31)) {

                    }
                    return
                }

                break;
                default: {
                    return

                }

                break;
                }


            }

        }
    })
</script>
<style lang="scss">
    .el-table--striped .el-table__body tr.el-table__row--striped td {
        background: none
    }

    .el-table td,
    .el-table th {
        padding: 4px 0;

    }

    .el-table .cell {
        font-size: 14px;
        line-height: 18px;
    }

    .el-input__inner {
        height: 22px;
        line-height: 22px;
        padding: 0 5px;
    }

    .componyname {
        display: block
    }

    .headWeight {
        text-align: center;
        line-height: 24px;
        font-size: 18px;
        font-weight: bold;
    }

    .headCenter {
        text-align: center;
    }

    .paddingFirst {
        padding-left: 25px;
    }

    .paddingSecond {
        padding-left: 50px;
    }

    .paddingThird {
        padding-left: 70px;
    }

    .moneySpan {
        text-align: right;
    }
</style>

</html>