<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    引入样式
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    引入组件库
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>

<body>
    <div id="app">
    
        <el-table :data="dataList" border style="width: 100%;" size="small"
            @selection-change="selectChange">
            <el-table-column type="selection" header-align="center" align="center" width="50"></el-table-column>
            <el-table-column type="index" align="center" label="序号" width="60"></el-table-column>
            <el-table-column align="center" label="名称" min-width="120">
                <!--关键代码-->
                <template slot-scope="scope">
                    <el-input v-if="scope.row.isSelected" v-model="scope.row.name" @focus="focusEvent(scope.row)"
                        @blur="blurEvent(scope.row)" v-focus></el-input>
                    <p @click="cellClick(scope.row)" v-else>{{scope.row.name}}</p>
                </template>
            </el-table-column>
            <el-table-column label="地址" prop="mac" align="center"></el-table-column>
            <el-table-column label="类型" prop="type" align="center"></el-table-column>
            <el-table-column label="组" prop="group" align="center"></el-table-column>
            <el-table-column label="域" prop="zoom" align="center"></el-table-column>
            <el-table-column label="创建时间" prop="time" align="center"></el-table-column>
        </el-table>
    </div>
</body>
<script>
    // Vue 根实例
    var app08 = new Vue({
        el: '#app',
        data() {
            return {
                dataList: [{name:"xiaohong", mac:"xiaohong",
                type:"xiaohong",
                group:"xiaohong",
                type:"zoom",
                group:"time",
                }],
                loadingFlag: true
            }
        },
        components: {
       
        },

        directives: {
            focus: {
                inserted: function (el) {
                    el.querySelector('input').focus()
                }
            }
        },

        created() {
            // this.getList()
        },

        methods: {
  

            selectChange(e) {
                console.log(e)
            },

            focusEvent(row) {
                row.oldName = row.name
            },

            blurEvent(row) {
                row.isSelected = !row.isSelected
                if (row.name !== row.oldName) {
                    // 。。。此处代码省略（调用修改名称接口）
                    this.$message({
                        message: '修改成功',
                        type: 'success',
                        duration: 1000
                    })
                }
            },

            cellClick(row) {
                row.isSelected = !row.isSelected
            }
        }

    })
</script>


</html>