<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
    <div id="todo-list-demo">
        <todo-list v-bind:todos="todos">
            <template v-slot:todo="{ todo }">
                <span v-if="todo.isComplete">✓</span>
                {{ todo.text }}
            </template>
        </todo-list>
    </div>
</body>
<script>
    Vue.component("todo-list", {
        props: ["todos"],
        data: function () {
            return {
                filteredTodos:this.todos
            };
        },
        template: `
        <ul>
            <li
                v-for="todo in filteredTodos"
                v-bind:key="todo.id">
                <!--我们为每个 todo 准备了一个插槽，将 todo对象作为一个插槽的 prop 传入。 -->
                <slot name="todo" v-bind:todo="todo">
                    <!-- 后备内容 -->
                    {{ todo.text }}
                </slot>
            </li>
        </ul> `
    });
    let todoListDemo = new Vue({
        el: "#todo-list-demo",
        data: {
            todos: [{
                    id: 1,
                    text: "小白",
                    isComplete: true
                },
                {
                    id: 2,
                    text: "小强",
                    isComplete: true
                },
                {
                    id: 3,
                    text: "小明",
                    isComplete: false
                },
                {
                    id: 4,
                    text: "咪咪",
                    isComplete: true
                },
                {
                    id: 5,
                    text: "妹妹",
                    isComplete: false
                }
            ]
        }
    });
</script>
<style>

</style>

</html>