<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        window.onload = function () {
            //el 等于dom选择器,html中的{{}}只能放在data
            //1、id为app 的div的内容是Hello Vue!
            let app = new Vue({
                el: '#app',
                data: {
                    message: 'Hello Vue!',
                    message2: 'Hello Vue!222'
                }
            })
            //这样内容不会覆盖
            // app= new Vue({
            //     el: '#app',
            //     data: {
            //         message: '搞事消息',
            //         message2: '搞事boy'
            //     }
            // })
            app.message = '搞事消息';
            app.message2 = '搞事boy';
            app = new Vue({
                el: '#app',
                data: {
                    message: '搞事消息重新new',
                    message2: '搞事boy重新new'
                }
            })
            // let appapp = new Vue({
            //     el: '#app',
            //     data: {
            //         message: 'appapp消息',
            //         message2: 'appappmessage'
            //     }
            // })
            // appapp.message= '搞事消息222';
            // appapp.message2= '搞事boy222';
            // alert(appapp.message);
            //2、id为app2的div中鼠标放在p标签上，会显示当前时间
            let app2 = new Vue({
                el: "#app2",
                data: {
                    titleMessage: "页面加载于" + new Date().toLocaleDateString()
                }
            });
            //3、class为appclass的div显示ceshi 类
            let appclass = new Vue({
                el: "div.appclass",
                data: {

                    classMessage: "ceshi 类",
                    classMessage2: "classMessage消息",
                    dataJson: {
                        id: "1",
                        name: "小强",
                        age: "18",
                        name: "重名"
                    },
                    classMessage: "ceshi 类重名",
                    dataArray: ["小白", "小黑", "小红", "小狗"]
                },
                setMessage: "setMessage消息"
            });
            //4、id为app3 的div 内的p，当 app3.issee=true时可见， app3.issee=false不可见
            let app3 = new Vue({
                el: "#app3",
                data: {
                    issee: true
                }
            });
            //5、class为appclass的div显示ceshi 类
            let app4 = new Vue({
                el: "#app4",
                data: {
                    dataJson: [{
                            id: "1",
                            name: "小强",
                            age: "18"
                        },
                        {
                            id: "2",
                            name: "小白",
                            age: "18"
                        },
                        {
                            id: "3",
                            name: "小黑",
                            age: "18"
                        },
                        {
                            id: "4",
                            name: "小红",
                            age: "18"
                        },
                        {
                            id: "5",
                            name: "小狗",
                            age: "18"
                        }
                    ],
                    dataArray: ["小白", "小黑", "小红", "小狗"]
                },
                setMessage: "setMessage消息"
            });
            //6按钮逆转
            let app5 = new Vue({
                el: "#app5",
                data: {
                    message: "好好学习，天天向下。"

                },
                methods: {
                    addfun: function () {
                        this.message = this.message + this.message;
                        // this.message = this.message.split('').reverse().join('')

                    }
                }
            });
            /* input标签输入什么p标签就显示什么*/
            var app6 = new Vue({
                el: '#app6',
                data: {
                    message: 'Hello Vue!'
                }
            })
        }
    </script>
</head>

<body>
    <h3>声明式渲染</h3>
    <div id="app">
        <p> {{message}}</p>
        <p> {{message2}}</p>

    </div>
    <hr />
    <div id="app2">
        <p v-bind:title="titleMessage"> 鼠标悬停几秒查看此处动态绑定的事件</p>
    </div>
    <hr />
    <div class="appclass">
        <p> {{classMessage}}</p>
        <p> {{classMessage2}}</p>
        <p> {{dataJson}}</p>
        <p> {{dataArray}}</p>
        <p> {{dataJson.name+dataJson.age}}</p>
        <p> {{dataArray[2]}}</p>
    </div>
    <hr />
    <h3>条件与循环</h3>
    <div id="app3">
        <p v-if="issee">你可以看下我了。</p>
    </div>
    <hr />
    <div id="app4">
        <ol>
            <li v-for="data1 in dataJson">
                {{data1.name+data1.age}}
            </li>
        </ol>
        <ol>
            <li v-for="data1 in dataArray">
                {{data1}}
            </li>
        </ol>
    </div>
    <hr />
    <div id="app5">
        <p>{{message}}</p>
        <button v-on:click="addfun">按钮逆转</button>

    </div>
    <hr />
    <div id="app6">
        <p>{{ message }}</p>
        <input v-model="message">
    </div>
</body>

</html>