<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        window.onload = function () {
            let data = {
                name: '小明',
                age: 18

            }
            let app01 = new Vue({
                el: "#app01",
                data: data
            })
            app01.name = 'ceshi '
            data.name = 'ceshi '
            //console.log(app01.name)
            let rawHtml = {
                rawHtml: '<span> this is html</span>',
                age: 18

            }

            let app02 = new Vue({
                el: "#app02",
                data: rawHtml
            })
            let appdata03 = {
                dynamicId: "ceshidynamicId",
                isButtonDisabled: true,
            }
            let app03 = new Vue({
                el: '#app03',
                data: appdata03
            })
            let appdata04 = {
                number: 10,
                ok: true,
                message: "我是中国人，我爱中国",
                id: "ceshiid"

            }
            let app04 = new Vue({
                el: '#app04',
                data: appdata04
            })
            let doSomething = function () {

                console.log("访问不了")
            }
            let appdata05 = {
                seen: true,
                url: "www.baidu.com",
                id: "ceshiid",
                doSomething: function () {
                    console.log("访问不了")
                }
            }
            let app05 = new Vue({
                el: '#app05',
                data: appdata05
            })
            let appdata06 = {

                onSubmit: function () {
                    console.log("表单提交前出发事件")
                }
            }
            let app06 = new Vue({
                el: '#app06',
                data: appdata06
            })
        }
    </script>
</head>

<body>
    <h3>vue实例</h3>
    <div id="app01">
        <p v-once>{{name}}</p>
        <p>{{age}}</p>
    </div>

    <div id="app02">
        <p>Using mustaches: {{ rawHtml }}</p>
        <p>Using v-html directive: <span v-html="rawHtml"></span></p>
    </div>
    <div id="app03">
        <button id="dynamicId">id是dynamicId </button>
        <button v-bind:id="dynamicId">id是ceshidynamicId</button>
        <button v-bind:disabled="isButtonDisabled">Button</button>
    </div>
    <div id="app04">
        <p> {{ number + 1 }} </p>
        <p> {{ ok ? 'YES' : 'NO' }} </p>
        <p> {{ message.split('').reverse().join('') }}</p>
        <div v-bind:id="'list-' + id">wd</div>
        <p>
            <!-- 这是语句，不是表达式{{ var a = 1 }} -->
            {{ 1 }}
        </p>
        <p>
            <!-- 流控制也不会生效，请使用三元表达式{{ if (ok) { return message } }} -->
            {{ok?message:""}}

        </p>
        <p>

            {{Math.abs(number+1) }}
        </p>
        <p>

            {{ new Date }}
        </p>
    </div>
    <div id="app05">
        <p v-if="seen">现在你看到我了</p>
        <div v-bind:id="'list-' + id">wd</div>
        <a v-bind:href="url">百度</a>
        <a v-on:click="doSomething">百度失败</a>
    </div>
    <form v-on:submit.prevent="onSubmit" id="app06">...
        <button type="submit">表单提交</button>
    </form>
</body>

</html>