<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script>
            let app01;
            let app02;
            let app03;
            let app04;
            let app05;
            let app06;
            let app07;
            let app08;
            let app09;
            let app10;
            let app11;
            let app12;
            window.onload = function() {
                funA();
            };

            function funA() {
                app01 = new Vue({
                    el: '#app01',
                    data: {
                        txtMessage: '',
                        textareaMessage: '',
                        checked: true,
                        checkedNames: [],
                        sex: '',
                        selected: '',
                        selecteds: [],
                        options: [
                            {
                                text: 'One',
                                value: 'A'
                            },
                            {
                                text: 'Two',
                                value: 'B'
                            },
                            {
                                text: 'Three',
                                value: 'C'
                            }
                        ]
                    }
                });
                app02 = new Vue({
                    el: '#app02',
                    data: {
                        pick: 'a',
                        toggle: 'no',
                        selected: 'ceshi',
                        a: 'aa',
                        selected: 258
                    }
                });
                //app02.$refs.checkId.checked
                // 当选中时
                //vm.pick === vm.a
            }
        </script>
    </head>

    <body>
        <form action="" id="app01">
            <p>
                v-model 会忽略所有表单元素的 value、checked、selected
                特性的初始值而总是将 Vue 实例的数据作为数据来源。
            </p>
            <p>你应该通过 JavaScript 在组件的 data 选项中声明初始值。</p>
            <input v-model="txtMessage" placeholder="edit me" />
            <p>txtMessage is: {{ txtMessage }}</p>
            <br />
            <textarea
                v-model="textareaMessage"
                placeholder="add multiple lines"
            >
这个html初始值不会生效</textarea
            >
            <p style="white-space: pre-line;">{{ textareaMessage }}</p>
            <textarea placeholder="add multiple lines">
这个html初始值会生效</textarea
            >
            <br />

            <input
                type="checkbox"
                id="checkbox"
                v-model="checked"
                v-bind:checked="checked"
            />
            <label for="checkbox">{{ checked }}</label>
            <div id="checkeDiv">
                <input
                    type="checkbox"
                    id="jack"
                    value="Jack"
                    v-model="checkedNames"
                />
                <label for="jack">Jack</label>
                <input
                    type="checkbox"
                    id="john"
                    value="John"
                    v-model="checkedNames"
                />
                <label for="john">John</label>
                <input
                    type="checkbox"
                    id="mike"
                    value="Mike"
                    v-model="checkedNames"
                />
                <label for="mike">Mike</label>
                <br />
                <span>Checked names: {{ checkedNames }}</span>
            </div>
            <br />
            <div id="radioDiv">
                <input type="radio" id="men" value="男" v-model="sex" />
                <label for="men">男</label>
                <input type="radio" id="women" value="女" v-model="sex" />
                <label for="men">女</label>
                <input type="radio" id="katoey" value="人妖" v-model="sex" />
                <label for="katoey">人妖</label>
                <span>sex: {{ sex }}</span>
            </div>
            <div id="selectDiv">
                <select id="sel01" v-model="selected">
                    <option disabled value="">请选择</option>
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                </select>
                <span>第一个下拉框selected: {{ selected }}</span>
                <br />
                <select
                    id="sel02"
                    v-model="selecteds"
                    multiple
                    style="width: 50px;"
                >
                    <option
                        v-for="option in options"
                        v-bind:value="option.value"
                        >{{ option.text }}</option
                    >
                </select>
                <span>第二个下拉框selecteds: {{ selecteds }}</span>
            </div>
        </form>
        <form action="" id="app02" style="display: none;">
            <input
                type="checkbox"
                v-model="toggle"
                id="checkId"
                ref="checkId"
                name="checkName"
                true-value="yes"
                false-value="no"
                value="ceshi"
            />
            <p>{{ toggle }}</p>
            <br />
            <input type="radio" v-model="pick" v-bind:value=" a" />
            <br />
            <select v-model="selected">
                <!-- 内联对象字面量 -->
                <option v-bind:value="{ number: 123 }">123</option>
            </select>
        </form>
    </body>
</html>
