<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <style type="text/css">
            .demo-alert-box {
                padding: 10px 20px;
                background: #f3beb8;
                border: 1px solid #f09898;
            }

            .tab-button {
                padding: 6px 10px;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                border: 1px solid #ccc;
                cursor: pointer;
                background: #f0f0f0;
                margin-bottom: -1px;
                margin-right: -1px;
            }

            .tab-button:hover {
                background: #e0e0e0;
            }

            .tab-button.active {
                background: #e0e0e0;
            }

            .tab {
                border: 1px solid #ccc;
                padding: 10px;
            }
        </style>
        <script>
            let app01;
            let app02;
            let app03;
            let app04;
            window.onload = function() {
                // 定义一个名为 button-count 的新组件
                Vue.component('button-count', {
                    data: function() {
                        return {
                            count: 0
                        };
                    },
                    template:
                        '<button v-on:click="count++">You clicked me {{ count}} times.</button>'
                });

                Vue.component('blog-props', {
                    props: ['title'],
                    template: '<h3>{{ title }}</h3>'
                });

                Vue.component('blog-props-demo', {
                    props: ['title', 'post'],
                    template: '<div><h3>{{ title }}</h3><p>{{post}}</p></div>'
                });
                Vue.component('blog-post', {
                    props: ['post'],
                    template: `
    <div class="blog-post">
      <h3>{{ post.title }}</h3>
      <div v-html="post.content"></div>
    </div>
  `
                });

                //通过事件向父级组件发送消息
                Vue.component('blog-post-event', {
                    props: ['post'],
                    template: `
    <div class="blog-post">
      <h3>{{ post.title }}</h3>
      <button v-on:click="$emit('parent-font')">
        font_size
      </button>
      <button v-on:click="$emit('parent-width',10)">
        width_size
      </button>
      <button v-on:click="$emit('parent-height',10)">
        width_size
      </button>
      <div v-html="post.content"></div>
    </div>
  `
                });
                Vue.component('custom-input', {
                    props: ['value'],
                    template: `
                <div>
    <input 
      v-bind:value="value"
      v-on:input="$emit('input', $event.target.value)"
    >
    <p>{{value}}</p>
    </div>
  `
                });

                //通过插槽分发内容
                Vue.component('alert-box', {
                    template: `
    <div class="demo-alert-box">
      <strong>Error!</strong>
      <slot></slot>
    </div>
  `
                });
                Vue.component('tab-home', {
                    template: '<div>home componet</div>'
                });
                Vue.component('tab-house', {
                    template: '<div>house componet</div>'
                });
                Vue.component('tab-family', {
                    template: '<div>family componet</div>'
                });
                funA();
            };

            function funA() {
                app01 = new Vue({
                    el: '#app01'
                });
                app02 = new Vue({
                    el: '#app02'
                });
                app03 = new Vue({
                    el: '#app03',
                    data: {
                        posts: [
                            {
                                id: 1,
                                title: '博客Vue'
                            },
                            {
                                id: 2,
                                title: '简书Vue'
                            },
                            {
                                id: 3,
                                title: 'gitfun'
                            }
                        ]
                    }
                });
                app04 = new Vue({
                    el: '#app04',
                    data: {
                        searchText1: '',
                        searchText2: ''
                    }
                });
                // 当选中时
                //vm.pick === vm.a
                //通过事件向父级组件发送消息
                app05 = new Vue({
                    el: '#app05',
                    data: {
                        posts: [
                            {
                                id: 1,
                                title: '博客Vue',
                                content: 'vue 学习笔记'
                            },
                            {
                                id: 2,
                                title: '简书Vue',
                                content: '简书 学习笔记'
                            },
                            {
                                id: 3,
                                title: 'gitfun',
                                content: 'git 学习笔记'
                            }
                        ],
                        postFontSize: 1,
                        widthSize: 400,
                        heightSize: 160,
                        colorValue: 'red'
                    },
                    methods: {
                        parentHeight: function(enlargeAmount) {
                            this.heightSize += enlargeAmount;
                        }
                    }
                });
                app06 = new Vue({
                    el: '#app06',
                    data: {
                        searchText: ''
                    }
                });
                app07 = new Vue({
                    el: '#app07'
                });
                app08 = new Vue({
                    el: '#app08',
                    data: {
                        currentTab: 'Home',
                        tabs: ['home', 'house', 'family']
                    },
                    computed: {
                        currentTabComponent: function() {
                            return 'tab-' + this.currentTab.toLowerCase();
                        }
                    }
                });
            }
        </script>
    </head>

    <body>
        <div style="display: none;">
            <div id="app01">
                <button-count></button-count>
                <button-count></button-count>
                <button-count></button-count>
            </div>
            <div id="app02">
                <blog-props title="测试"></blog-props>
                <blog-props title="表头"></blog-props>
            </div>
            <hr />
            <div id="app03">
                <blog-props-demo
                    v-for="post in posts"
                    v-bind:key="post.id"
                    v-bind:title="post.title"
                    v-bind:post="post"
                >
                </blog-props-demo>
            </div>
        </div>
        <div id="app04">
            <input v-model="searchText1" />
            <p>{{ searchText1 }}</p>
            <input
                v-bind:value="searchText2"
                v-on:input="searchText2 = $event.target.value"
            />
            <p>{{ searchText2 }}</p>
        </div>
        <div id="app05">
            <div>
                <blog-post-event
                    :style="{ fontSize: postFontSize + 'em',width: widthSize+'px', height: heightSize+'px',background: colorValue}"
                    v-for="post in posts"
                    v-bind:key="post.id"
                    v-bind:post="post"
                    v-on:parent-font="postFontSize += 0.2;"
                    v-on:parent-width="widthSize += $event;"
                    v-on:parent-height="parentHeight"
                ></blog-post-event>
            </div>
        </div>
        <br />
        <div id="app06">
            <custom-input v-model="searchText"></custom-input>
        </div>
        <div id="app07">
            <alert-box>
                Something bad happened.测试
            </alert-box>
        </div>
        <br />
        <div id="app08">
            <button
                v-for="tab in tabs"
                v-bind:key="tab"
                v-bind:class="['tab-button', { active: currentTab === tab }]"
                v-on:click="currentTab = tab"
            >
                {{ tab }}
            </button>
            <component v-bind:is="currentTabComponent" class="tab"></component>
        </div>
    </body>
</html>
