<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <style type="text/css"></style>
        <script>
            let app01;
            let app02;
            let app03;
            let app04;
            let app05;
            let app06;
            let app07;
            window.onload = function() {
                Vue.component('navigation-link', {
                    props: ['url'],
                    template: ` <a v-bind:herf="url" class="nav-link">
                            <slot></slot>
                </a>`
                });
                app01 = new Vue({
                    el: '#app01',
                    data: {
                        url: '',
                        username: '用户名'
                    }
                });
                Vue.component('base-layout', {
                    template: `
                    <div class="container">
  <header>
    <slot name="header">页头</slot>
  </header>
  <main>
    <slot name="main">内容</slot>
  </main>
  <template>
    <slot ></slot>
  </template>
  <footer>
    <slot name="footer">页脚</slot>
  </footer>
</div>
                    `
                });
                app02 = new Vue({
                    el: '#app02',
                    data: {
                        header: '开头',
                        maintest:
                            '达瓦大无多军哇多爱我的娃大王卡的进口量达我觉得的AWK的我的看完打开 爱我的骄傲未打卡我、‘ 、答案为了 ',
                        footer: '结束'
                    }
                });
                Vue.component('todo-list', {
                    props: ['todos'],
                    template: `
                    <ul>
                    <li  v-for="todo in todos" v-bind:key="todo.id">
                    <slot v-bind:todo="todo">
                    {{todo.text}}
                    </slot>
                    </li>
                    </ul>
                    `
                });
                app03 = new Vue({
                    el: '#app03',
                    data: {
                        todos: [
                            { id: 1, text: '小白', isComplete: true },
                            { id: 2, text: '小强', isComplete: true },
                            { id: 3, text: '小明', isComplete: false },
                            { id: 4, text: '咪咪', isComplete: true },
                            { id: 5, text: '妹妹', isComplete: false }
                        ]
                    }
                });
                //
            };
        </script>
    </head>

    <body>
        <div id="app01">
            <navigation-link url="/profile">
                <span class="fa fa-user">ceshi </span>
                Your Profile {{ username }}
            </navigation-link>
        </div>
        <div id="app02">
            <base-layout>
                <template slot="header">
                    <h1>Here might be a page title</h1>
                </template>
                <p>test内容1</p>
                <template slot="main">
                    <p>main内容</p>
                </template>
                <p>test内容2</p>
                <template slot="footer">
                    <p>Here's some contact info</p>
                </template>
            </base-layout>

            <base-layout>
                <h2 slot="header">Here might be a page title</h2>
                <p>test内容1</p>
                <p slot="main">main内容</p>
                <p>test内容2</p>
                <!-- <p slot="footer">Here's some contact info</p> -->
            </base-layout>
        </div>
        <div id="app03">
            <todo-list v-bind:todos="todos">
                <template slot-scope="slotProps">
                    <span v-if="slotProps.todo.isComplete">√</span>
                    {{ slotProps.todo.text }}
                </template>
            </todo-list>
            <hr />
            <todo-list v-bind:todos="todos">
                <template slot-scope="{ todo }">
                    <span v-if="todo.isComplete">✓</span>
                    {{ todo.text }}
                </template>
            </todo-list>
        </div>
    </body>
</html>
